.nav-link {
  color: #777777;
}

.navbar {
  padding: 0px 0px;
}
.navbar-light .navbar-brand {
  /* display: inline-block; */
  text-align: center;
  background-color: #4aaaa5;
  padding: 5px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20pt;
  letter-spacing: 1px;
  line-height: 60px;
  width: 240px;
  margin-left: 40px;
}

a:hover {
  text-decoration: none;
}

#Resume {
  color: white;
  margin-bottom: 10px;
}

.fa-linkedin:before,
.fa-github:before {
  vertical-align: middle;
  padding: 20px;
  color: white;
  position: relative;
}

#nav1 {
  padding: 0px;
  border-width: 0ch;
}

footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 340px;
  background-color: #f5f5f5;
}

/* font-style: italic; */
/* margin-left: auto; */

/* I copied this line from stack overflow & used it to center the card before I used the div tag instead */
/* .card {
    margin: 0 auto; 
    float: none;
    margin-bottom: 10px;
} */

/* .navbar-brand{
    margin: 0px 0px 0px 0px;
} */

h4 {
  margin-top: -15px;
  margin-bottom: 20px;
  padding-bottom: 17px;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: #777777;
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-style: italic; */
}

h5 {
  color: white;
}

body {
  margin-top: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  color: #777777;
  text-align: left;
  background-color: #fff;
  background-image: url('../assets/images/subtle_grunge.png');
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 1.25rem;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0px;
}

.card-img {
  padding: 20px;
}

.fa-linkedin:before,
.fa-github:before {
  vertical-align: middle;
  padding: 20px;
  color: white;
  position: relative;
}

.form-group {
  margin-bottom: 0rem;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #f8f9fa;
}

#formcontainer {
  background-color: #f8f9fa;
  padding: 10px;
}

#greenbox {
  max-width: 250px;
}

.container {
  background-color: #f8f9fa;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #b3b1b1;
}

.container-fluid {
  border-style: solid;
  border-top-width: 0;
  border-right-width: 0ch;
  border-left-width: 0ch;
  border-bottom-width: 1px;
  border-bottom-color: #b3b1b1;
}

#portfolio {
  margin-top: 20px;
  height: 400px;
  width: 400px;
}

#ptfocontainer {
  margin-top: 28px;
}
.btn-primary {
  background-color: #4aaaa5;
  border: #4aaaa5;
}

.img-thumbnail {
  height: 200px;
  width: 200px;
}

.bg-dark {
  background-color: #777777 !important;
  padding-top: 25px;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: top;
}
