.nav-link{
    color:#777777;
}
.navbar-light .navbar-brand {
    /* display: inline-block; */
    text-align: center;
    background-color:  #4aaaa5;
    padding: 5px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    letter-spacing: 1px;
    height: 60px;
    width: 220px;
    /* font-style: italic; */
    /* margin-left: auto; */
}

/* I copied this line from stack overflow & used it to center the card before I used the div tag instead */
/* .card {
    margin: 0 auto; 
    float: none;
    margin-bottom: 10px;
} */

h4 {
    margin-top: -15px;
    margin-bottom: 20px;
    padding-bottom: 17px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #777777;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-style: italic; */

    }

body {
    margin-top: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    color: #777777;
    text-align: left;
    background-color: #fff;
    background-image: url("../assets/images/subtle_grunge.png");
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        padding: 1.25rem;
        padding-top: 1.25rem;
        padding-right: 1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 0px;
    }

    .card-img{    
    border-radius: calc(.25rem - 1px);
    padding: 25px;
    height: 300px;
    width: 300px;
    }




.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #f8f9fa;
   
}

#formcontainer{
    background-color: #f8f9fa;
    padding: 10px;
}

#greenbox{
    max-width: 250px;
}

.container{
    background-color: #f8f9fa;
}

.container-fluid{
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0ch;
    border-left-width: 0ch;
    border-bottom-width: 1px;
    border-top-color: #777777;

}

.btn-primary{
    background-color: #4aaaa5;
    border: #4aaaa5;
}

#bottomnav {
    background-color: #777777;
}