

p {
    color: #777777;
    text-align: left;
    line-height: 24px;
    font-size: 15px;
    
}

body {
    background-image: url("../assets/images/subtle_grunge.png");
    background-size: contain;
}

h6 {
    color: #4aaaa5;
    font-family: 'Libre Baskerville', serif;
    font-size: 22px;
    margin-bottom: 35px;
    margin-left: 5px;
    padding-bottom: 20px;
    border-bottom-style: dotted;
    border-bottom-color: #c7c5c5;
    border-bottom-width: 1px;
}

.container {
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 100px;
    left: 250px;
    width: 800px;
}

.navbar {
    border-bottom: #adabab;
    border-style: solid;
    border-top-width: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-width: 1px;
    height: 61px;
}

#navbarNav{
    position: relative;
    left: 320px;
}

#barheight {
    height: 70px;
}

#greenbox {
    position: relative;
    left: 235px;
    border-style: solid;
    border-color: transparent;
    height: 70px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    font-family: 'Libre Baskerville', serif;
    font-size: 22px;
    
}
.nav-link.disabled {
    background-color: #4aaaa5;
    color:white;
}

.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;

}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    margin-right: 20px;
    position: relative;
    left: 250px;
}


.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    width: 220px;
    height: auto;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-left: 0px;
}

footer {
    background-color: #777777;
    color: #ffffff;
    text-align: center;
    position: relative;
    bottom: 0px;
    padding: 20px;
    width: 100%;
    font-size: 10pt;
    border-top: 2px;
    border-top-style: solid;
    border-color: #4aaaa5;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }
    /* size: 200px; */
